html {
    height: 100%;
}

body {
    min-height: 100%;
    background: radial-gradient(circle, #adcbe3, #63ace5);;
/*    animation: colorchange 100s infinite;*/
/*    -webkit-animation: colorchange 100s infinite;*/
/*    Palette http://www.color-hex.com/color-palette/1294 */
    
}

@keyframes colorchange
    {
      0%   {background: #e7fdf8;}
      20%  {background: #a1fcff;}
      40%  {background: #81eff8;}
      60%  {background: #82beeb;}
      80%  {background: #5ba4fc;}
      100% {background: #e7fdf8;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: #e7fdf8;}
      20%  {background: #a1fcff;}
      40%  {background: #81eff8;}
      60%  {background: #82beeb;}
      80%  {background: #5ba4fc;}
      100% {background: #e7fdf8;}
    }

.container {
    max-width: 500px;
}

.card--container {
    height: 100vh;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    padding: 40px;
    margin-top: 80px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 5px 12px rgba(0,0,0,0.22);
}

.card h1 {
    margin-top: 50px;
    text-align: center;
}

.card--image {
    position: relative;
}

.card--image img {
    border: 7px solid white;
    border-radius: 82px;
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -82px;
}

.card--social {
    text-align: center;
    padding-top: 40px;
}

.card--social img {
    width: 60px;
    height: 60px;
}


p:last-child {
    margin-bottom: 0;
}

p.summary {
    font-size: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}